@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@300&display=swap");

nav {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: white;
  max-width: 1600px;
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: -1;
}

#hero-img {
  margin-right: 100px;
  width: 1550px;
  height: auto;
}

#hero-msg {
  background-color: #b4edd2;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 100px;
  border-radius: 10px;
}

.search {
  position: relative;
  width: 300px;
}

#search-bar-input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

#search-bar-img {
  position: absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}

.book {
  background-color: #9a7aa0;
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 15px;
  margin-top: 50px;
  border-radius: 5px;
}

#logo_link {
  padding-top: 10px;
  justify-self: start;
  align-self: center;
  width: 50px;
  height: auto;
}

header {
  background-color: #8d94ba;
  text-align: center;
  width: 100%;
  color: black;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 50px auto;
}

.card-img-list {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.card-msg-list {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.card-img {
  width: 200px;
  height: auto;
  text-align: center;
  display: block;
  text-decoration: none;
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 200px;
}

.card-msg {
  width: 200px;
  height: auto;
  text-align: center;
  display: block;
  text-decoration: none;
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 200px;
}

#tutor-box {
  grid-row: auto;
  z-index: 2;
}

#tutor-img {
  margin-right: 100px;
  width: 1550px;
  height: auto;
}

#tutor-msg {
  background-color: #b4edd2;
  border-radius: 10px;
}

footer {
  background-color: #8d94ba;
  color: black;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: black;
  text-decoration: none;
}

.slides {
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;

  transform: scale(0);

  transition: all 0.7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: #fff;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
  opacity: 0.5;
}
.nav label:hover {
  opacity: 1;
}
.nav .next {
  right: 0;
}
input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}
